/* reset styles
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del,
s,
strike {
  text-decoration: line-through;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
}
/* Common classes
-----------------------------------------------------------------------------*/
.clear {
  clear: both;
}
.clear-fix:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
.webkit-flicker-fix {
  -webkit-backface-visibility: hidden;
}
.webkit-border-radius-fix {
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  -webkit-backface-visibility: hidden;
}
/* positioning
-----------------------------------------------------------------------------*/
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* sizing
-----------------------------------------------------------------------------*/
.full-width,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color] {
  box-sizing: border-box;
  width: 100%;
}
/* transitions
-----------------------------------------------------------------------------*/
.base-margin-bottom,
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p,
ul,
ol,
table,
blockquote,
.text-content .row {
  margin-bottom: 9px;
}
.base-margin-bottom:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.text-content .row:last-child {
  margin-bottom: 0;
}
body,
input,
button,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
body {
  line-height: 1.5;
}
a {
  color: dodgerblue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
ul,
ol {
  padding-left: 20px;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
pre,
code {
  font-family: monospace;
}
.text-content {
  /* grid
-----------------------------------------------------------------------------*/
  /* table
-----------------------------------------------------------------------------*/
}
.text-content blockquote {
  border-left: 2px solid #ccc;
  background: #f2f2f2;
  padding: 10px;
}
.text-content q:before {
  content: '“';
}
.text-content q:after {
  content: '”';
}
.text-content thead th {
  border-bottom: 2px solid #ccc;
}
.text-content tbody td {
  border-bottom: 1px solid #ccc;
}
.text-content tbody tr:nth-child(even) td {
  background: #f2f2f2;
}
.text-content th,
.text-content td {
  padding: 10px;
}
/* button
-----------------------------------------------------------------------------*/
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
.button input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.lte-ie-8 .button input {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
/* inputs
-----------------------------------------------------------------------------*/
input {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color] {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}
textarea {
  overflow: auto;
}
input[type=button],
input[type=reset],
input[type=submit],
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  height: 100%;
}
.no-flexbox body {
  min-height: 100%;
  height: 100%;
  display: block !important;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
.no-flexbox .page-wrapper,
.no-flexbox .footer {
  width: auto;
}
.page-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.lte-ie-11 .page-wrapper,
.lt-ie-11 .page-wrapper {
  min-height: 0;
}
.no-flexbox .page-wrapper {
  display: block !important;
  width: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.page-body {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-body.flex-none {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.wrapper {
  position: relative;
}
/*reset*/
ul,
ol,
menu {
  padding: 0;
  margin: 0;
}
/*Global Styles*/
.container {
  width: 1040px;
  margin: 0 auto;
}
.page-wrapper {
  min-width: 1040px;
}
.header {
  min-width: 100%;
}
.header .row {
  background: #000;
  width: 100%;
}
.header .row:first-child {
  background: #ea1f26;
}
.header .row .container .content {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 100%;
  color: #fff;
}
.header .row .container .content .title {
  height: 24px;
  margin: 0 30px 0 20px;
  padding: 12px 0 0;
}
.header .row .container .content .title a {
  text-decoration: none;
}
.header .row .container .content .title a.left {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 400;
  padding-right: 18px;
  background-image: url(../img/arrow.png) no-repeat;
  background-position: right center;
  background-repeat: no-repeat;
}
.header .row .container .content .title a.right {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin-top: -6px;
}
.header .row .container .content nav {
  text-transform: uppercase;
  margin: 14px 45px 0 20px;
  height: 28px;
}
.header .row .container .content nav ul {
  float: left;
}
.header .row .container .content nav ul li {
  display: inline-block;
  margin-right: 25px;
}
.header .row .container .content nav ul li a {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 400;
}
.header .row .container .content nav ul.auth {
  float: right;
}
.index-page {
  background: #f7d9bd url(../img/glare.png) no-repeat center top;
  background-size: cover;
}
.index-page {
  padding-top: 30px;
  padding-bottom: 80px;
}
.index-page .title {
  border-bottom: 1px solid #dcaa9b;
  display: inline-block;
  width: 100%;
  position: relative;
}
.index-page .flag {
  position: absolute;
  bottom: -69px;
  right: 2px;
  z-index: 1;
}
.index-page a.logo img {
  padding: 0 60px 25px 40px;
  float: left;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.index-page p {
  font-size: 30px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  color: #811029;
  line-height: 1.3;
  float: left;
  display: inline-block;
  padding: 25px 0 0;
  text-transform: uppercase;
}
.index-page p b {
  font-weight: 400;
}
.main-pic {
  padding-bottom: 36px;
  position: relative;
}
.main-pic:after {
  content: '';
  position: absolute;
  width: 1325px;
  height: 614px;
  top: -95px;
  left: -121px;
  right: 0;
  background: url(../img/bg.png) no-repeat center top;
  z-index: 0;
}
.main-pic .big-title,
.main-pic .small-title {
  text-transform: uppercase;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 800;
  z-index: 1;
  position: relative;
}
.main-pic .big-title {
  font-size: 80px;
  line-height: 62px;
  color: #cd8527;
  margin-top: 95px;
  margin-left: -4px;
  margin-bottom: 12px;
}
.main-pic .big-title span {
  letter-spacing: -2px;
}
.main-pic .small-title {
  font-size: 44px;
  line-height: 37px;
  color: #f1ab50;
  margin-left: -4px;
}
.main-pic .tag-line {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  font-size: 38px;
  line-height: 35px;
  color: #811029;
  text-align: center;
  margin-top: 295px;
  letter-spacing: -1.5px;
  margin-left: 9px;
}
@media (max-width: 1235px) {
  .main-pic {
    overflow: hidden;
  }
  .main-pic .big-title,
  .main-pic .small-title {
    margin-left: 15px;
  }
  .main-pic:after {
    top: 0;
  }
}
.button-wrap {
  border: 1px solid #e9c7b7;
  border-radius: 10px;
  height: 94px;
  width: 302px;
  margin: 32px auto 0;
  text-align: center;
  box-sizing: border-box;
}
.button-wrap a {
  border: 1px solid #f2e3cf;
  border-radius: 10px;
  background-color: #eecfa6;
  box-shadow: -2px 6px 7px rgba(47, 24, 4, 0.25);
  background: linear-gradient(to left, #efd2a4 0%, #fef8f1 30%, #e3cbab 53.78%, #d1a871 76.07%, #eecfa6 100%);
  display: block;
  width: 262px;
  padding: 16px 0;
  margin: 13px auto;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
}
.button-wrap a:hover {
  background: linear-gradient(to right, rgba(239, 208, 166, 0.83) 0%, rgba(239, 208, 166, 0.83) 6.54%, rgba(209, 169, 113, 0.83) 26.64%, rgba(227, 204, 171, 0.83) 52.83%, rgba(255, 249, 241, 0.83) 79.22%, rgba(239, 210, 164, 0.83) 100%);
  -ms-box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
  -o-box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
  box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
}
.button-wrap a span {
  text-transform: uppercase;
  color: #810f29;
  font-size: 20px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.47);
  display: block;
}
.card {
  padding-bottom: 90px;
  position: relative;
}
.card:after {
  content: '';
  position: absolute;
  background: url(../img/snow-pattern.png) no-repeat;
  width: 100%;
  background-size: cover;
  height: 482px;
  top: 190px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.card .container * {
  z-index: 10;
}
.card .container .image-ctrl {
  z-index: 15;
  position: relative;
  padding-left: 30px;
}
.card .container .image-ctrl a {
  display: inline-block;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  font-size: 20px;
  color: #811029;
  text-decoration: none;
  margin: 0 15px;
}
.card .container .image-ctrl a:hover {
  opacity: 0.5;
}
.card .container .image-ctrl .input-btn-stl {
  display: none;
  background: url(../img/dog-icon.png) no-repeat center 52px;
  width: 140px;
  height: 187px;
  position: absolute;
  left: 25%;
  top: 146px;
  -webkit-animation: pulsate 1.5s ease-out infinite;
          animation: pulsate 1.5s ease-out infinite;
  -ms-animation: pulsate 1.5s ease-out infinite;
  -moz-animation: pulsate 1.5s ease-out infinite;
}
.card .container .image-ctrl .input-btn-stl > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #811029;
  font-weight: 800;
  letter-spacing: -0.6px;
  line-height: 14px;
  cursor: pointer;
  z-index: -1;
}
.card .container .image-ctrl .input-btn-stl input[type=file] {
  opacity: 0;
  width: 140px;
  height: 187px;
  cursor: pointer;
}
.card .container h1 {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 800;
  font-size: 48px;
  color: #811029;
  text-transform: uppercase;
  margin-top: 21px;
  margin-left: 38px;
  letter-spacing: -1px;
  display: inline-block;
  z-index: 10;
  position: relative;
}
.card .container .left {
  position: relative;
  float: left;
}
.card .container .left .preview {
  width: 664px;
  height: 466px;
  border: 13px solid #ffefe0;
  box-sizing: border-box;
  background: #fff;
  z-index: 2;
  position: relative;
  margin: 13px 0 0 37px;
}
.card .container .left .preview > .alert {
  position: absolute;
  text-align: center;
  font-size: 16px;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 1px 15px -4px;
}
.card .container .left:before {
  content: '';
  position: absolute;
  width: 708px;
  height: 537px;
  top: 0;
  left: 16px;
  background: url(../img/shadow.png) no-repeat;
  z-index: 1;
}
.card .container .left .tree,
.card .container .left .ball {
  position: absolute;
}
.card .container .left .tree {
  top: 87px;
  left: -130px;
}
.card .container .left .ball {
  top: 343px;
  left: -183px;
  z-index: 10;
}
.card .container .right {
  float: left;
  margin-left: 39px;
  margin-top: -22px;
  position: relative;
}
.card .container .right h4 {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 800;
  font-size: 14px;
  color: #811029;
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: -0.4px;
}
.card .container .right .patern-list a {
  border: 6px solid #e1d3c6;
  box-sizing: border-box;
  display: block;
  width: 239px;
  height: 109px;
  overflow: hidden;
  margin-bottom: 10px;
  opacity: 0.5;
  transition: 0.2s ease;
  position: relative;
}
.card .container .right .patern-list a img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.card .container .right .patern-list a:hover {
  opacity: 1;
  transition: 0.2s ease;
  border-color: #8c0a27;
}
.card .container .right .patern-list a.active {
  opacity: 1;
  border-color: #8c0a27;
}
.card .ready-card {
  margin-top: 30px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
  80% {
    opacity: 0;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}
@keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
  80% {
    opacity: 0;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}
.card-final.container h1 {
  font-size: 48px;
  text-align: center;
  display: block;
}
.card-final.container .image-wrap {
  margin: 21px auto;
  position: relative;
}
.card-final.container .image-wrap .preview {
  width: 664px;
  height: 466px;
  border: 13px solid #ffefe0;
  box-sizing: border-box;
  background: #fff;
  z-index: 2;
  margin: 0 auto;
}
.card-final.container .image-wrap .ball,
.card-final.container .image-wrap .tree-right {
  position: absolute;
}
.card-final.container .image-wrap .ball {
  bottom: -57px;
  left: -22px;
}
.card-final.container .image-wrap .tree-right {
  bottom: 0;
  right: 19px;
}
.card-final.container .btns-wrap {
  text-align: center;
}
.card-final.container .btns-wrap .ready-card {
  width: 241px;
  display: inline-block;
  margin: 20px 18px 0;
}
.card-final.container .btns-wrap .ready-card a {
  width: 203px;
}
.pop-ups .overlay,
.pop-ups .pop-up {
  display: none;
}
.pop-ups .overlay {
  background: #000;
  opacity: 0.6;
  z-index: 149;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
.pop-ups .pop-up {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  text-align: center;
  border-radius: 10px;
  background: #e3cdba;
  background: -ms-linear-gradient(90deg, #dbb48f 0%, #f5d6b8 100%);
  box-shadow: 0.523px 4.973px 16px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20%;
  width: 459px;
  height: 328px;
  z-index: 150;
  padding: 39px;
  box-sizing: border-box;
}
.pop-ups .pop-up .close-pop {
  position: absolute;
  top: 21px;
  right: 25px;
  transition: 0.2s ease;
}
.pop-ups .pop-up .close-pop:hover {
  opacity: 0.5;
  transition: 0.2s ease;
}
.pop-ups .pop-up h4 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #811029;
  margin-bottom: 26px;
}
.pop-ups .pop-up .text-wrap {
  font-size: 24px;
  line-height: 28px;
  color: #811029;
  font-weight: 300;
  margin-bottom: 41px;
}
.pop-ups .pop-up .button-wrap {
  border: none;
}
.pop-ups .pop-up .button-wrap a {
  width: 164px;
  padding: 12px 0 9px;
}
.pop-ups .pop-up .button-wrap a span {
  font-size: 14px;
}
.container {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
}
.little-dogs {
  padding-bottom: 30px;
}
.little-dogs h1 {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 800;
  color: #811029;
  margin-top: 13px;
  margin-bottom: 15px;
  letter-spacing: -0.8px;
}
.little-dogs .circle-wrap {
  position: relative;
  min-height: 700px;
}
.little-dogs .circle-wrap .circle {
  position: absolute;
  top: 0;
  left: -43px;
  right: 0;
  margin: auto;
  width: 656px;
  height: 656px;
  border-radius: 50%;
  border: 1px solid #cb9a93;
}
.little-dogs .dog {
  position: absolute;
  bottom: 46px;
  left: 41px;
  right: 0;
  margin: auto;
}
.little-dogs .discr {
  float: left;
  width: 26%;
  z-index: 110;
  position: relative;
}
.little-dogs .discr .title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.3px;
  font-weight: 800;
  color: #811029;
  border: none;
  text-transform: uppercase;
  padding-left: 40px;
  position: relative;
  margin-bottom: 6px;
}
.little-dogs .discr .title:after {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  top: 6px;
  left: -2px;
}
.little-dogs .discr .text-wrap {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.little-dogs .discr.discr-1 {
  margin-top: 232px;
  margin-left: 74px;
}
.little-dogs .discr.discr-1 .title {
  padding-left: 46px;
}
.little-dogs .discr.discr-1 .title:after {
  background: url(../img/3.png) no-repeat;
}
.little-dogs .discr.discr-2 {
  margin-top: 39px;
  position: relative;
  left: -14px;
  width: 34%;
}
.little-dogs .discr.discr-2 .title:after {
  background: url(../img/1.png) no-repeat;
}
.little-dogs .discr.discr-3 {
  margin-top: 136px;
  margin-left: 39px;
  width: 28%;
}
.little-dogs .discr.discr-3 .title {
  padding-left: 53px;
}
.little-dogs .discr.discr-3 .title:after {
  width: 50px;
  background: url(../img/2.png) no-repeat;
}
@media (max-width: 991px) {
  .little-dogs h1 {
    margin-bottom: 50px;
  }
  .little-dogs .circle-wrap {
    min-height: inherit;
  }
  .little-dogs .circle-wrap .circle,
  .little-dogs .circle-wrap .dog {
    display: none;
  }
  .little-dogs .discr {
    padding: 0 20px;
  }
  .little-dogs .discr.discr-1,
  .little-dogs .discr.discr-2,
  .little-dogs .discr.discr-3 {
    float: none;
    width: 84%;
    margin: 0;
    left: auto;
    margin-bottom: 50px;
  }
}
.main-page .main {
  position: relative;
}
.main-page h1 {
  font-size: 38px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  color: #970725;
  margin: 44px 0 0;
  line-height: 1.3;
}
.main-page a {
  text-decoration: none;
}
.main-page a.btn {
  border: 1px solid #f2e3cf;
  border-radius: 10px;
  background-color: #eecfa6;
  -ms-box-shadow: -2px 6px 7px rgba(47, 24, 4, 0.25);
  -o-box-shadow: -2px 6px 7px rgba(47, 24, 4, 0.25);
  box-shadow: -2px 6px 7px rgba(47, 24, 4, 0.25);
  background: linear-gradient(to left, #efd2a4 0%, #fef8f1 30%, #e3cbab 53.78%, #d1a871 76.07%, #eecfa6 100%);
  display: block;
  width: 269px;
  padding: 19px 0;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
  position: absolute;
  right: 86px;
  top: 58px;
  box-sizing: border-box;
}
.main-page a.btn.red:after {
  content: '';
  position: absolute;
  opacity: 0.13;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
  border: 1px solid #810f29;
  border-radius: 10px;
  width: 309px;
  height: 90px;
  left: -23px;
  top: -14px;
}
.main-page a.btn span {
  text-transform: uppercase;
  color: #970725;
  font-size: 20px;
  line-height: 1;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.47);
  display: block;
}
.main-page .share a,
.main-page .more a {
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(239, 208, 166, 0.83) 0%, rgba(239, 208, 166, 0.83) 6.54%, rgba(209, 169, 113, 0.83) 26.64%, rgba(227, 204, 171, 0.83) 52.83%, rgba(255, 249, 241, 0.83) 79.22%, rgba(239, 210, 164, 0.83) 100%);
  -ms-box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
  -o-box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
  box-shadow: -1px 3px 7px rgba(47, 24, 4, 0.2);
  padding: 15px 0;
  display: block;
  top: auto;
  width: 170px;
  position: absolute;
  bottom: 37px;
  left: 35px;
}
.main-page .share a span,
.main-page .more a span {
  text-transform: uppercase;
  color: #970725;
  font-size: 14px;
  line-height: 1;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.47);
  display: block;
}
.main-page .share {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 485px;
  height: 481px;
  background: url(../img/block-share.png) no-repeat center center;
  position: relative;
  margin: 0 0 0 30px;
}
.main-page .share p {
  padding: 36px 0 0 42px;
  font-size: 22px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  color: #970725;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.main-page .share p b {
  font-size: 23px;
  font-weight: 800;
  letter-spacing: -0.3px;
}
.main-page .more {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 485px;
  height: 481px;
  background: url(../img/block-more.png) no-repeat center center;
  position: relative;
}
.main-page .more p {
  font-size: 20px;
  line-height: 1;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  font-weight: 300;
  color: #970725;
  margin: 0px 0 0 40px;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-page .more .items-img {
  position: relative;
}
.main-page .more .items-img > img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.main-page .more .items-img .items-float {
  position: relative;
  text-align: center;
  margin-top: 12px;
}
.main-page .more .items-img .items-float img {
  width: 90px;
}
.footer {
  height: 69px;
  background: #000;
}
.footer .content {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 14px 0 0;
  width: 100%;
  background: #000;
}
.footer .content .left,
.footer .content .right {
  display: inline-block;
}
.footer .content .left {
  float: left;
  margin-left: 40px;
}
.footer .content .left .menu {
  display: inline-block;
}
.footer .content .left .menu li {
  float: left;
}
.footer .content .left .menu li.separator {
  border-left: solid 1px #fff;
  width: 1px;
  height: 14px;
  margin: 2px 15px 0;
}
.footer .content .left .menu li a {
  color: #fff;
  font-size: 12px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
  text-decoration: none;
}
.footer .content .left p {
  clear: both;
  color: #cccc99;
  margin: 10px 0 0;
  font-size: 12px;
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
}
.footer .content .right {
  float: right;
  margin-right: 25px;
}

/*# sourceMappingURL=style.css.map */
