@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
  @@include('../chunks/header.html')
  <div id="page-body" class="page-body index-page card">
    @@include('../chunks/pop-up.html')
    @@include('../chunks/title.html')
    @@include('../chunks/card.html')
  </div>

  @@include('../chunks/footer.html')

</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
