<div class="container card-final">
  <h1>ваша открытка готова!</h1>

  <div class="image-wrap">
    <div class="preview">
      <img src="img/final.jpg" alt="" width="664" height="466">
    </div>
    <img src="img/tree-right.png" alt="" class="tree-right">
    <img src="img/ball-final.png" alt="" class="ball">
  </div>


  <div class="clear-fix"></div>
  <div class="btns-wrap">
    <div class="button-wrap ready-card">
      <a href="#" class="js-show-pop-up">
        <span>Сохранить</span>
      </a>
    </div>
    <div class="button-wrap ready-card">
      <a href="#">
        <span>Поделиться</span>
      </a>
    </div>
  </div>
</div>
