<div class="container">

  <h1>Создай свою открытку</h1>
  <div class="image-ctrl">
    <!-- <a href="#" id="to_front">На передний план</a> -->
    <!-- <a href="#" id ="to_back">На задний план</a> -->

    <div class="input-btn-stl">
      <input id="file_input" type="file">
      <div>
        Загрузить <br> Фото
      </div>
    </div>

  </div>
  <div class="left">
    <div class="preview">
      <canvas id="canvas"></canvas>
    </div>
    <img src="img/tree.png" alt="tree" class="tree">
    <img src="img/ball.png" alt="ball" class="ball">
  </div>
  <div class="right">
    <h4>Выберите шаблон открытки</h4>
    <div class="patern-list">
      <a href="#" class="patern active">
        <img src="img/otkr-1.png" alt="pattern">
      </a>
      <a href="#" class="patern">
        <img src="img/otkr-2.png" alt="pattern">
      </a>
      <a href="#" class="patern">
        <img src="img/otkr-3.png" alt="pattern">
      </a>
      <a href="#" class="patern">
        <img src="img/otkr-4.png" alt="pattern">
      </a>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="button-wrap ready-card">
    <a href="#">
      <span>Готово</span>
    </a>
  </div>
</div>
