<footer id="footer" class="wrapper footer">
  <div class="container">
                    <div class="content">
                        <div class="left">
                            <ul class="menu">
                                <li><a href="/TermsConditions">Соглашение о конфиденциальности</a></li>
                                <li class="separator"></li>
                                <li><a href="/PrivacyPolicy">Правовая информация</a></li>
                                <li class="separator"></li>
                                <li><a href="/Contacts">Свяжитесь с нами</a></li>

                            </ul>
                            <p>Рег. Товарный знак Société des Produits Nestlé S.A.</p>
                        </div>
                        <div class="right"><img src="img/footer-logo.png" alt="logo"></div>
                    </div>
                </div>
</footer>
