<header id="header" class="wrapper header">
    <div class="row">
      <div class="container">
        <div class="content">
          <div class="title"><a href="http://www.purina.ru/ru/Pages/default.aspx" class="left">Узнайте больше о компании, которая производит Purina ONE®</a>
            <a href="http://www.purina.ru/ru/Pages/default.aspx" class="right">
              <img src="img/logo-mini.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="content">
          <nav>

            <ul class="menu">
              <li data-menu-id="Info" class="active"><a href="/LearnMoreAboutPet">Узнайте больше о вашей собаке</a></li>
              <li data-menu-id="AboutProduct"><a href="/Products">О продукте</a></li>
              <li data-menu-id="Competition"><a href="/PhotoCompetition">Конкурс</a></li>
              <li data-menu-id="Breeds"><a href="/Breeds">Породы</a></li>
              <li data-menu-id="Video"><a href="/Video">Видео</a></li>
            </ul>

            <ul class="auth">
              <li class="separator"></li>
              <li><a href="javascript:openAuthorization();" id="loginLink">Войти</a></li>
              <li><a href="/Register" id="registerLink">Регистрация</a></li>
            </ul>

          </nav>
        </div>
      </div>
    </div>
</header>
