

<div class="container main-pic">
  <div class="big-title">
    Новый
    <br>
    <span>год</span>
  </div>
  <div class="small-title">
    Создай свою
    <br> открытку!
  </div>
  <div class="tag-line">
    Мы поздравляем Вас с наступающим Новым Годом <br>и предлагаем поздравить своих родных и близких <br/> весёлой открыткой!
  </div>
  <div class="button-wrap">
    <a href="#">
      <span>Создать Открытку</span>
    </a>
  </div>
</div>
