<div class="container little-dogs">
  <h1 class="">особенности маленьких собак</h1>
  <div class="circle-wrap">
    <div class="circle"></div>
    <img src="img/dog.png" alt="dog" class="dog">
    <div class="discr discr-1">
      <div class="title">
        ускоренный
        <br> обмен веществ
      </div>
      <div class="text-wrap">В среднем, маленькие собаки живут на 4 года дольше, чем их крупные сородичи. Чтобы жизнь вашего питомца была долгой и здоровой, ему необходимо сбалансированное питание. У маленьких пород более быстрый обмен веществ и, при этом, желудок меньших размеров. Соответственно, им нужна еда с большим содержанием протеина, жиров для дополнительной энергии, легко усваиваемых углеводов, а также дополнительных витаминов группы В. Все эти элементы необходимы, чтобы регулировать обмен веществ маленькой собаки.</div>
    </div>

    <div class="discr discr-2">
      <div class="title">
        Чувствительное <br>  пищеварение
      </div>
      <div class="text-wrap">У собак маленьких пород более чувствительное пищеварение, поэтому им не подходит обычный корм для собак. Маленьким питомцам нужна легко перевариваемая пища, которая сможет усвоиться в организме.</div>
    </div>

    <div class="discr discr-3">
      <div class="title">
       Привередливы <br>   в еде
      </div>
      <div class="text-wrap">Из-за чувствительного пищеварения и физиологических особенностей маленьких собак кажется, что питомец слишком избирателен в еде. Например, у маленьких собак небольшая и более слабая челюсть по сравнению с собаками среднего и большого размера. Поэтому структура и размер корма должны быть адаптированы под размер их зубов.
      <br>
      Да, для них действительно важен вкус, корм должен нравиться маленькой собаке. Но, в то же время, питание должно быть полезным и питательным. Поэтому необходимо правильно подбирать корм, чтобы собака была здорова.</div>
    </div>
  </div>
</div>
