<div class="container">
  <div class="main">
    <h1>
      ПРОЙДИТЕ ТЕСТ И ВЫБЕРИТЕ
      <br>
      <b>
    ПЕРСОНАЛЬНЫЙ КОРМ<br>
    ИМЕННО ДЛЯ ВАШЕГО ПИТОМЦА
                                    </b>

    </h1>
    <!-- Поскольку в тэге <a> испольузется span то приходиться отказаться от Action Link-->
    <a href="/LearnMoreAboutPet" class="btn red">
      <span>Перейти к тесту</span>
    </a>
    <img src="/img/main.png" alt="" class="main">
  </div>

  <div class="share">
    <p>
      Примите участие в акции <br>
      <b>purina one ® моя собака <br>
      и получитие призы!</b>
    </p>
    <a href="/promo" class="btn">
      <span>Подробнее</span>
    </a>
  </div>
  <div class="more">
    <p>
      УЗНАЙТЕ О НАШЕМ ПРОДУКТЕ,
      <b>РАЗРАБОТАННом СПЕЦИАЛЬНО
    ДЛЯ МАЛЕНЬКИХ СОБАК</b>
    </p>
    <div class="items-img">
      <img src="img/4itemsnew.png" alt="">
      <div class="items-float">
        <img src="img/wet-1.png" alt="">
        <img src="img/wet-2.png" alt="">
        <img src="img/wet-3.png" alt="">
        <!-- <img src="img/product-wet-1.png" alt="">
        <img src="img/product-wet-3.png" alt="">
        <img src="img/product-wet-5.png" alt=""> -->
      </div>

    </div>
    <a href="/Products" class="btn">
      <span>Больше о продукте</span>
    </a>
  </div>
</div>
