<div class="pop-ups">
  <div class="overlay"></div>
  <div class="pop-up">
    <a href="#" class="close-pop js-close-pop-up">
      <img src="img/close.png" alt="close">
    </a>
    <h4>Авторизация</h4>
    <div class="text-wrap">
      Для получения открытки <br> Вам необходимо авторизоваться через ВКонтакте.
    </div>
    <div class="button-wrap ready-card">
      <a href="#">
        <span>авторизоваться</span>
      </a>
    </div>
  </div>
</div>
