<div class="container">
  <div class="title">
    <a href="/" class="logo">
      <img src="img/logo.png" alt="logo">
    </a>
    <p>
      Специально разработанное питание
      <br>
      <b>для Вашей уникальной маленькой собаки!</b>
    </p>
    <img src="img/flag.png" alt="flag" class="flag">
  </div>
</div>
