.footer {
  height: 69px;
  background: #000;

  .content {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin: 14px 0 0;
    width: 100%;
    background: #000;

    .left,
    .right {
      display: inline-block;
    }

    .left {
      float: left;
      margin-left: 40px;

      .menu {
        display: inline-block;

        li {
          float: left;

          &.separator {
            border-left: solid 1px #fff;
            width: 1px;
            height: 14px;
            margin: 2px 15px 0;
          }

          a {
            color: #fff;
            font-size: 12px;
            font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
            text-decoration: none;
          }
        }
      }

      p {
        clear: both;
        color: rgb(204, 204, 153);
        margin: 10px 0 0;
        font-size: 12px;
        font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      }
    }

    .right {
      float: right;
      margin-right: 25px;
    }
  }
}
