/*reset*/
ul,
ol,
menu {
  padding: 0;
  margin: 0;
}
/*Global Styles*/
.container {
  width: 1040px;
  margin: 0 auto;
}

.page-wrapper {
  min-width: 1040px;
}

.header {
  min-width: 100%;

  .row {
    background: #000;
    width: 100%;

    &:first-child {
      background: rgb(234, 31, 38);
    }

    .container {
      .content {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        width: 100%;
        color: #fff;

        .title {
          height: 24px;
          margin: 0 30px 0 20px;
          padding: 12px 0 0;

          a {
            text-decoration: none;
          }

          a.left {
            float: left;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            color: #fff;
            font-size: 12px;
            line-height: 1;
            font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
            font-weight: 400;
            padding-right: 18px;
            background-image: url(../img/arrow.png) no-repeat;
            background-position: right center;
            background-repeat: no-repeat;
          }

          a.right {
            float: right;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            margin-top: -6px;
          }
        }

        nav {
          text-transform: uppercase;
          margin: 14px 45px 0 20px;
          height: 28px;

          ul {
            float: left;

            li {
              display: inline-block;
              margin-right: 25px;

              a {
                text-decoration: none;
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: top;
                zoom: 1;
                position: relative;
                color: #fff;
                font-size: 12px;
                line-height: 1;
                font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
                font-weight: 400;
              }
            }

            &.auth {
              float: right;
            }
          }
        }
      }
    }
  }
}
