.index-page {
  background: #f7d9bd url(../img/glare.png) no-repeat center top;
  background-size: cover;
}

.index-page {
  padding-top: 30px;
  padding-bottom: 80px;

  .title {
    border-bottom: 1px solid rgb(220, 170, 155);
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .flag {
    position: absolute;
    bottom: -69px;
    right: 2px;
    z-index: 1;
  }

  a.logo {
    img {
      padding: 0 60px 25px 40px;
      float: left;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
    }
  }

  p {
    font-size: 30px;
    font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(129, 16, 41);
    line-height: 1.3;
    float: left;
    display: inline-block;
    padding: 25px 0 0;
    text-transform: uppercase;

    b {
      font-weight: 400;
    }
  }
}

.main-pic {
  padding-bottom: 36px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 1325px;
    height: 614px;
    top: -95px;
    left: -121px;
    right: 0;
    background: url(../img/bg.png) no-repeat center top;
    z-index: 0;
  }

  .big-title,
  .small-title {
    text-transform: uppercase;
    font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
    font-weight: 800;
    z-index: 1;
    position: relative;
  }

  .big-title {
    font-size: 80px;
    line-height: 62px;
    color: #cd8527;
    margin-top: 95px;
    margin-left: -4px;
    margin-bottom: 12px;

    span {
      letter-spacing: -2px;
    }
  }

  .small-title {
    font-size: 44px;
    line-height: 37px;
    color: #f1ab50;
    margin-left: -4px;
  }

  .tag-line {
    font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
    font-weight: 300;
    font-size: 38px;
    line-height: 35px;
    color: #811029;
    text-align: center;
    margin-top: 295px;
    letter-spacing: -1.5px;
    margin-left: 9px;
  }

  @media (max-width: 1235px) {
    overflow: hidden;

    .big-title,
    .small-title {
      margin-left: 15px;
    }

    &:after {
      top: 0;
    }
  }
}

.button-wrap {
  border: 1px solid #e9c7b7;
  border-radius: 10px;
  height: 94px;
  width: 302px;
  margin: 32px auto 0;
  text-align: center;
  box-sizing: border-box;

  a {
    border: 1px solid #f2e3cf;
    border-radius: 10px;
    background-color: #eecfa6;
    box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    background: linear-gradient(to left, #efd2a4 0%, #fef8f1 30%, #e3cbab 53.78%, #d1a871 76.07%, #eecfa6 100%);
    display: block;
    width: 262px;
    padding: 16px 0;
    margin: 13px auto;
    text-align: center;
    transition: all 0.3s;
    text-decoration: none;

    &:hover {
      background: linear-gradient(to right, rgba(239,208,166,0.83) 0%, rgba(239,208,166,0.83) 6.54%, rgba(209,169,113,0.83) 26.64%, rgba(227,204,171,0.83) 52.83%, rgba(255,249,241,0.83) 79.22%, rgba(239,210,164,0.83) 100%);
      -webkit-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -moz-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -ms-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -o-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
    }

    span {
      text-transform: uppercase;
      color: #810f29;
      font-size: 20px;
      font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      font-weight: 800;
      text-shadow: 0 1px 0 rgba(255,255,255,0.47);
      display: block;
    }
  }
}
// Card Begin
.card {
  padding-bottom: 90px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background: url(../img/snow-pattern.png) no-repeat;
    width: 100%;
    background-size: cover;
    height: 482px;
    top: 190px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
  }

  .container {
    * {
      z-index: 10;
    }

    .image-ctrl {
      z-index: 15;
      position: relative;
      padding-left: 30px;

      a {
        display: inline-block;
        font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
        font-weight: 300;
        font-size: 20px;
        color: #811029;
        text-decoration: none;
        margin: 0 15px;

        &:hover {
          opacity: 0.5;
        }
      }

      .input-btn-stl {
        display: none;
        background: url(../img/dog-icon.png) no-repeat center 52px;
        width: 140px;
        height: 187px;
        position: absolute;
        left: 25%;
        top: 146px;
        animation: pulsate 1.5s ease-out infinite;
        -ms-animation: pulsate 1.5s ease-out infinite;
        -moz-animation: pulsate 1.5s ease-out infinite;

        >div {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 30px;
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          color: #811029;
          font-weight: 800;
          letter-spacing: -0.6px;
          line-height: 14px;
          cursor: pointer;
          z-index: -1;
        }

        input[type=file] {
          opacity: 0;
          width: 140px;
          height: 187px;
          cursor: pointer;
        }
      }
    }

    h1 {
      font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      font-weight: 800;
      font-size: 48px;
      color: #811029;
      text-transform: uppercase;
      margin-top: 21px;
      margin-left: 38px;
      letter-spacing: -1px;
      display: inline-block;
      z-index: 10;
      position: relative;
    }

    .left {
      position: relative;
      float: left;

      .preview {
        width: 664px;
        height: 466px;
        border: 13px solid #ffefe0;
        box-sizing: border-box;
        background: #fff;
        z-index: 2;
        position: relative;
        margin: 13px 0 0 37px;

        >.alert {
          position: absolute;
          text-align: center;
          font-size: 16px;
          width: 300px;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 100;
          border-radius: 15px;
          background-color: #fff;
          padding: 15px;
          box-shadow: 1px 1px 15px -4px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        width: 708px;
        height: 537px;
        top: 0;
        left: 16px;
        background: url(../img/shadow.png) no-repeat;
        z-index: 1;
      }

      .tree,
      .ball {
        position: absolute;
      }

      .tree {
        top: 87px;
        left: -130px;
      }

      .ball {
        top: 343px;
        left: -183px;
        z-index: 10;
      }
    }
    //Right
    .right {
      float: left;
      margin-left: 39px;
      margin-top: -22px;
      position: relative;

      h4 {
        font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
        font-weight: 800;
        font-size: 14px;
        color: #811029;
        text-transform: uppercase;
        margin-bottom: 14px;
        letter-spacing: -0.4px;
      }

      .patern-list {
        a {
          border: 6px solid #e1d3c6;
          box-sizing: border-box;
          display: block;
          width: 239px;
          height: 109px;
          overflow: hidden;
          margin-bottom: 10px;
          opacity: 0.5;
          transition: 0.2s ease;
          position: relative;

          img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
          }

          &:hover {
            opacity: 1;
            transition: 0.2s ease;
            border-color: #8c0a27;
          }

          &.active {
            opacity: 1;
            border-color: #8c0a27;
          }
        }
      }
    }
  }

  .ready-card {
    margin-top: 30px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }

  80% {
    opacity: 0;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

@-moz-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }

  80% {
    opacity: 0;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }

  80% {
    opacity: 0;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

@-ms-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }

  80% {
    opacity: 0;
    -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}
//Card End
//Card Final Begin
.card-final.container {
  h1 {
    font-size: 48px;
    text-align: center;
    display: block;
  }

  .image-wrap {
    margin: 21px auto;
    position: relative;

    .preview {
      width: 664px;
      height: 466px;
      border: 13px solid #ffefe0;
      box-sizing: border-box;
      background: #fff;
      z-index: 2;
      margin: 0 auto;
    }

    .ball,
    .tree-right {
      position: absolute;
    }

    .ball {
      bottom: -57px;
      left: -22px;
    }

    .tree-right {
      bottom: 0;
      right: 19px;
    }
  }

  .btns-wrap {
    text-align: center;

    .ready-card {
      width: 241px;
      display: inline-block;
      margin: 20px 18px 0;

      a {
        width: 203px;
      }
    }
  }
}
//Card Final End
//POP UP & OVERLAY
.pop-ups {
  .overlay,
  .pop-up {
    display: none;
  }

  .overlay {
    background: #000;
    opacity: 0.6;
    z-index: 149;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .pop-up {
    font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
    text-align: center;
    border-radius: 10px;
    background: #e3cdba;
    background: -moz-linear-gradient( 90deg, rgb(219,180,143) 0%, rgb(245,214,184) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(219,180,143) 0%, rgb(245,214,184) 100%);
    background: -ms-linear-gradient( 90deg, rgb(219,180,143) 0%, rgb(245,214,184) 100%);
    box-shadow: 0.523px 4.973px 16px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20%;
    width: 459px;
    height: 328px;
    z-index: 150;
    padding: 39px;
    box-sizing: border-box;

    .close-pop {
      position: absolute;
      top: 21px;
      right: 25px;
      transition: 0.2s ease;

      &:hover {
        opacity: 0.5;
        transition: 0.2s ease;
      }
    }

    h4 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
      color: #811029;
      margin-bottom: 26px;
    }

    .text-wrap {
      font-size: 24px;
      line-height: 28px;
      color: #811029;
      font-weight: 300;
      margin-bottom: 41px;
    }

    .button-wrap {
      border: none;

      a {
        width: 164px;
        padding: 12px 0 9px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

.container {
  font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
}
//Little Dogs Begin
.little-dogs {
  padding-bottom: 30px;

  h1 {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 800;
    color: #811029;
    margin-top: 13px;
    margin-bottom: 15px;
    letter-spacing: -0.8px;
  }

  .circle-wrap {
    position: relative;
    min-height: 700px;

    .circle {
      position: absolute;
      top: 0;
      left: -43px;
      right: 0;
      margin: auto;
      width: 656px;
      height: 656px;
      border-radius: 50%;
      border: 1px solid #cb9a93;
    }
  }

  .dog {
    position: absolute;
    bottom: 46px;
    left: 41px;
    right: 0;
    margin: auto;
  }

  .discr {
    float: left;
    width: 26%;
    z-index: 110;
    position: relative;

    .title {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.3px;
      font-weight: 800;
      color: #811029;
      border: none;
      text-transform: uppercase;
      padding-left: 40px;
      position: relative;
      margin-bottom: 6px;

      &:after {
        content: '';
        position: absolute;
        width: 34px;
        height: 34px;
        top: 6px;
        left: -2px;
      }
    }

    .text-wrap {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      letter-spacing: -0.4px;
    }

    &.discr-1 {
      margin-top: 232px;
      margin-left: 74px;

      .title {
        padding-left: 46px;

        &:after {
          background: url(../img/3.png) no-repeat;
        }
      }
    }

    &.discr-2 {
      margin-top: 39px;
      position: relative;
      left: -14px;
      width: 34%;

      .title {
        &:after {
          background: url(../img/1.png) no-repeat;
        }
      }
    }

    &.discr-3 {
      margin-top: 136px;
      margin-left: 39px;
      width: 28%;

      .title {
        padding-left: 53px;

        &:after {
          width: 50px;
          background: url(../img/2.png) no-repeat;
        }
      }
    }
  }

  @media (max-width: 1200px) {}

  @media (max-width: 991px) {
    h1 {
      margin-bottom: 50px;
    }

    .circle-wrap {
      min-height: inherit;

      .circle,
      .dog {
        display: none;
      }
    }

    .discr {
      padding: 0 20px;

      &.discr-1,
      &.discr-2,
      &.discr-3 {
        float: none;
        width: 84%;
        margin: 0;
        left: auto;
        margin-bottom: 50px;
      }
    }
  }
}
//Little Dogs End
//New Main Page begin
@textColor: #970725;

.main-page {
  .main {
    position: relative;
  }

  h1 {
    font-size: 38px;
    font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
    font-weight: 300;
    color: @textColor;
    margin: 44px 0 0;
    line-height: 1.3;
  }

  a {
    text-decoration: none;
  }

  a.btn {
    border: 1px solid #f2e3cf;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: #eecfa6;
    -webkit-box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    -moz-box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    -ms-box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    -o-box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
    background: linear-gradient(to left, #efd2a4 0%, #fef8f1 30%, #e3cbab 53.78%, #d1a871 76.07%, #eecfa6 100%);
    display: block;
    width: 269px;
    padding: 19px 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    position: absolute;
    right: 86px;
    top: 58px;
    box-sizing: border-box;

    &.red {
      &:after {
        content: '';
        position: absolute;
        opacity: 0.13;
        -webkit-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
        -moz-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
        -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
        -o-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=13);
        border: 1px solid #810f29;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        width: 309px;
        height: 90px;
        left: -23px;
        top: -14px;
      }
    }

    span {
      text-transform: uppercase;
      color: @textColor;
      font-size: 20px;
      line-height: 1;
      font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      font-weight: 700;
      text-shadow: 0 1px 0 rgba(255,255,255,0.47);
      display: block;
    }
  }

  .share,
  .more {
    a {
      // position: static;
      box-sizing: border-box;
      background: linear-gradient(to right, rgba(239,208,166,0.83) 0%, rgba(239,208,166,0.83) 6.54%, rgba(209,169,113,0.83) 26.64%, rgba(227,204,171,0.83) 52.83%, rgba(255,249,241,0.83) 79.22%, rgba(239,210,164,0.83) 100%);
      -webkit-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -moz-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -ms-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      -o-box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
      padding: 15px 0;
      display: block;
      top: auto;
      width: 170px;
      position: absolute;
      bottom: 37px;
      left: 35px;

      span {
        text-transform: uppercase;
        color: @textColor;
        font-size: 14px;
        line-height: 1;
        font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
        font-weight: 700;
        text-shadow: 0 1px 0 rgba(255,255,255,0.47);
        display: block;
      }
    }
  }

  .share {
    float: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 485px;
    height: 481px;
    background: url(../img/block-share.png) no-repeat center center;
    position: relative;
    margin: 0 0 0 30px;

    p{
      padding: 36px 0 0 42px;
      font-size: 22px;
      font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      font-weight: 300;
      color: @textColor;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      b{
          font-size: 23px;
          font-weight: 800;
          letter-spacing: -0.3px;
      }


    }
  }

  .more {
    float: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 485px;
    height: 481px;
    background: url(../img/block-more.png) no-repeat center center;
    position: relative;

    p {
      font-size: 20px;
      line-height: 1;
      font-family: 'myriad-pro', helvetica, verdana, arial, tahoma;
      font-weight: 300;
      color: @textColor;
      margin: 0px 0 0 40px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    .items-img {
      position: relative;

      >img {
        width: 80%;
        display: block;
        margin: 0 auto;
      }

      .items-float{
        position: relative;
        text-align: center;
        margin-top: 12px;
        img{
          width: 90px;
          // display: inline-block;
        }
      }
    }
  }
}
//New Main Page end
